@model Potion

@{string myColor = ViewBag.Color;}

<h2>@ViewBag.Color</h2>
<h2 style="color: @myColor ;">Blabla</h2>

@*<h3>@ViewBag.PotionData.compteur.ToString()</h3>*@

<h4>@ViewBag.Debug</h4>
<h4>@ViewBag.Compteur</h4>
<h4>@ViewBag.Ingredients</h4>
<h4>@ViewBag.Message</h4>