@{ 
    ViewData["Title"] = "Potion Maker";
    Potion NotrePotion = ViewBag.Potion;
 }

<div class="potionpage-center">

    <h1 class="potionpage-titre">@ViewData["Title"]</h1>

    <div class="fiole">
        <div class="fiole-stat">
            <h3>Liste des ingrédients</h3>
            <ul>
                @if (NotrePotion.Ingredients == null )
                {
                    <p>Aucun ingrédient</p>
                }
                else
                {
                    @foreach (var ing in NotrePotion.Ingredients)
                    {
                        <li>
                            <div class="ing-image">
                                <img src="@ing.ImageIngredient" />
                            </div>
                            @ing.Nom
                        </li>
                    }
                }

            </ul>
        </div>
        <div class="fiole-wrapper">
            <div class="fiole-image">
                <object data="/assets/FiolesSVG/Amour.svg" alt="fiole" width="300" height="300"> CA marche pas </object>
            </div>
        </div>
        <div class="fiole-stat">
            <h3>Effet</h3>
            <ul>
                @foreach (var stat in NotrePotion.Stats.Take(2))
                {
                    <li>
                        @stat.Value.Item2
                    </li>
                }
                @foreach (var stat in NotrePotion.Stats.Reverse().Take(1))
                {
                    <li>
                        @stat.Value.Item2
                    </li>
                }

            </ul>
        </div>


    </div>
    <div class="fiole-buttons">
        <a href='@Url.Action("ResetPotionIntoCookies", "Home")'>
            <button class="button secondary">
                Nouvelle potion &#129497;
            </button>
        </a>
        @*<a href='@Url.Action("Test", "Home", new { e = "test" })'>*@
        <button class="button">
            Enregistrer la potion &#128214;
        </button>
        @*</a>*@

    </div>
</div>
</div>

