@{
    ViewData["Title"] = "Potion Maker";
    List<Ingredient> ingredients = ViewData["Ingredients"] as List<Ingredient>;
}

<div class="ingpage">
    <div class="ingnav">
        <h2 id="titre-Ingredients">Ingredients</h2>
        <div class="ing-grid">
            @if( ingredients == null || ingredients.Count == 0)
            {
                <p>Aucun ingrédient</p>
            } else
            {
              @foreach (var ingredient in ingredients)
                {
                    <a href='@Url.Action("AddIngredientToPotion", "Home", new { ingredientId = ingredient.IngredientId })'>
                        <div class="ing-image tooltip" onclick="">
                            <span class="tooltiptext">@ingredient.DescriptionIngredient</span> 
                            <img src="@ingredient.ImageIngredient" />
                        </div>
                    </a>
                }
            }
</div>
    </div>

    <div class="ingpage-center">

        <h1 class="">@ViewData["Title"]</h1>

        <div class="potion">
            <div class="potion-wrapper">
                <div class="potion-image">
                    <div class="chaudron">
                        <div class="chaudron-top">
                        <div class="bubble x1"></div>
                        <div class="bubble x2"></div>
                        <div class="bubble x3"></div>
                        <div class="bubble x4"></div>
                        <div class="bubble x5"></div>
                        <div class="bubble x6"></div>
                        <div class="bubble x7"></div>
                        <div class="bubble x8"></div>
                        <div class="bubble x9"></div>
                        <div class="bubble x10"></div>
                            <div class="chaudron-potion"></div>
                        </div>
                        <div class="chaudron-foot chaudron-foot1"></div>
                        <div class="chaudron-foot chaudron-foot2"></div>
                    </div>
                    <img class="potion-fire" src="~/assets/fire.gif" alt="Alternate Text" />
                </div>

                <div class="potion-buttons">
                    <a href='@Url.Action("ResetPotionIntoCookies", "Home")'>
                        <button class="button secondary">
                            Jeter la potion &#x274C;
                        </button>
                    </a>
                    @*<a href='@Url.Action("Test", "Home", new { e = "test" })'>*@
                        <button class="button">
                            Préparer la potion &#x1F525;
                        </button>
                    @*</a>*@

                </div>
            </div>
            

            <div class="potion-ing">
                <h3>Liste des ingrédients</h3>
                <ul>
                    @if (@ViewBag.listeIngredients == null || @ViewBag.listeIngredients.Count == 0)
                    {
                        <p>Aucun ingrédient</p>
                    }
                    else
                    {
                        @foreach (var ing in @ViewBag.listeIngredients)
                        {
                            <li>
                                <div class="ing-image">
                                    <img src="@ing.Key.ImageIngredient" />
                                </div>
                                @ing.Value x @ing.Key.Nom
                            </li>
                        }
                    }

                </ul>

            </div>
        </div>
    </div>
</div>

